body {
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
}

/* padrão para mostrar as imagens */
section {
    height: 500px;
    margin: 5px 0;
}

/* a. Fundo azul claro */
.fundo-azul {
    background-color: lightblue;
}

h1{
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: brown;
}

/* b. Parágrafo verde */
.paragrafo1 {
    background-color: lightgreen;
    padding: 10px;
}

/* c. imagem repetida e fixa */
.img1 {
    background-image: url("/Atividade\ 04/Imagens/costela.jpg");
    background-repeat: repeat;
    background-attachment: fixed;
}

/* d. repetição vertical */
.img_vertical {
    background-image: url("/Atividade\ 04/Imagens/flor.jpg");
    background-repeat: repeat-y;
}

/* e. sem repetição */
.img_repeticao {
    background-image: url("/Atividade\ 04/Imagens/jasmim.jpg");
    background-repeat: no-repeat;
}

/* f. sem repetição e centralizada */
.centralizada {
    background-image: url("/Atividade\ 04/Imagens/lirio.jpg");
    background-repeat: no-repeat;
    background-position: center;
}

/* g. fundo completo */
.img_completo {
    height: 200px;
    background-color: yellow;
    background-image: url("/Atividade\ 04/Imagens/pata.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: scroll;
}